<div class="all">
    <div class="navbar">
        <img src="../../assets/img/logo.png" alt="">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#expertise">EXPERTISE</a></li>
            <li><a href="#teams">TEAMS</a></li>
            <li><a href="#works">WORKS</a></li>
            <li><a href="#people">PEOPLE SAY</a></li>
            <li><a href="#footer">CONTACT</a></li>
        </ul>
    </div>

    <div class="container-main">
        <div class="tittle">
            <h1>We Are Awesome Creative Agency</h1>
        </div>
        <div class="separator"></div>
        <div class="content">
            <p>
                This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
                nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a
                sit amet mauris. Morbi accumsan ipsum velit.
            </p>
        </div>
        <div class="btn">
            <button>LEARN MORE</button>
        </div>
    </div>
</div>