    <mat-grid-list cols="2" rowHeight="3:3">
        <mat-grid-tile>
            <div class="w-100 h-100">
                <div class="title">
                    <h4>GIVE US A GOOD NEWS</h4>
                </div>
                <form action="" [formGroup]="form">
                    
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name">
                    </div>  
                    <div class="form-group">
                        <input type="email" class="form-control" formControlemail="email" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlsubject="subject" id="subject" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <!-- <input type="text" class="form-control" formControlsubject="message" id="message" placeholder="Your Message"> -->
                        <textarea name="message" class="form-control" id="message" rows="6" formControlName="message" placeholder="Your Message"></textarea>
                    </div>
                    <div class="btnb">
                        <button type="submit">SUBMIT</button>
                    </div>
                </form>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="w-100 h-100">
                <div class="title">
                    <h4>OUR HAPPY CLIENTS</h4>
                </div>
                <mat-grid-list cols="2" rowHeight="2:.7">
                    <mat-grid-tile>
                        <img src="../../assets/img/clogo1.png" alt="">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <img src="../../assets/img/clogo6.png" alt="">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <img src="../../assets/img/clogo2.png" alt="">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <img src="../../assets/img/clogo7.png" alt="">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <img src="../../assets/img/clogo3.png" alt="">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <img src="../../assets/img/clogo8.png" alt="">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <img src="../../assets/img/clogo4.png" alt="">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <img src="../../assets/img/clogo9.png" alt="">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <img src="../../assets/img/clogo5.png" alt="">
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-grid-tile>
    </mat-grid-list>