.all
    flex: 1

mat-grid-list
    display: flex
    // height: 100%    
    
    
form
    margin-left: 10%
    width: 70%

.title
    font-family: "Times New Roman"
    margin-bottom: 5%
    margin-left: 10%
    h4
        margin-top: 5%
.form-group
    margin-bottom: 8%
    input
        font-family: "Open Sans"
        font-size: 14px
        height: 50px
    
    textarea
        font-family: "Open Sans"
        font-size: 14px
        padding: 5%

.btnb
    button
        margin: 5% 0
        padding: 10px 25px
        background-color: transparent
        border: 1px solid #00b4d8
        color: #00b4d8

    button:hover
        background-color: #0077b6
        color: white
        transition: 0.5s


.clients-grid
    width: 100%

@media (max-width: 576px)
    .title
        text-align: center
        margin: 0
        
    


.logos-container
    flex: 1
    align-items: center
    display: flex
    flex-wrap: wrap