<div class="all" id="about">
    <mat-grid-list cols="2" rowHeight="70vh">
        <mat-grid-tile>
            <img src="../../assets/img/ableft.png" alt="">
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="text w-100 h-100">
                <h3>OUR STORY</h3>
                <p>
                    This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
                    Duis sed odio sit amet nibh vulputate cursus
                </p>
                <p>
                    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
                    Sed non mauris vitae erat consequat auctor eu in elit. 
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
                <button>
                    LEARN MORE
                </button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>