<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 grid">
                <img src="../../assets/img/logo.png" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="col-sm-4 grid">
                <h6>OUR STUDIO</h6>
                <p>
                    <span class="material-icons">
                        place
                    </span>
                    Ruko cucruk, Jl. Radio luar dalem jos 
                    No.12 - 13, Kalideres - Jakarta Barat 
                    11480 - Indonesia
                </p>
                <p>
                    <span class="material-icons">
                        phone_enabled
                    </span>
                    (+62) 21-2224 3333
                </p>
            </div>
            <div class="col-sm-4 grid">
                <h6>STAY TOUCH</h6>
                <div class="search d-flex">
                    <input type="text" class="form-control" placeholder="Subscribe our newsletter">
                    <button>
                        <span class="material-icons">
                            send
                        </span>
                    </button>
                </div>
                <div class="social-networks">
                    <button><img src="../../assets/img/facebook3.png" alt=""></button>
                    <button><img src="../../assets/img/twiter.png.crdownload" alt=""></button>
                    <button><img src="../../assets/img/net5.png" alt=""></button>
                    <button><img src="../../assets/img/instagram.png" alt=""></button>
                    <button><img src="../../assets/img/google2.png" alt=""></button>
                    <button><img src="../../assets/img/youtube.png" alt=""></button>
                </div>
            </div>
        </div>
        <div class="terms d-flex">
            <div class="options">
                <a>HELP</a>
                <a>TERMS & CONDITION</a>
                <a>PRIVACY</a>
            </div>
            <div>
                Copyright &copy; 2015 - Tajem Creative
            </div>
        </div>
    </div>
</footer>