<section class="all">
    <div class="title p-4">
        <h3>OUR WORKS</h3>
        <a href="#" class="link">
            <p class="text-link">
                See All Project in dribble
                <span class="material-icons">navigate_next</span>
            </p>
        </a>
    </div>

    <div class="carousel slide mt-4" data-bs-ride="carousel">
        <div class="carousel-inner m-auto">
            <div class="carousel-item active m-auto">
                <mat-grid-list cols="3" rowHeight="4:2">
                    <mat-grid-tile>A</mat-grid-tile>
                    <mat-grid-tile>B</mat-grid-tile>
                    <mat-grid-tile>C</mat-grid-tile>
                    <mat-grid-tile>D</mat-grid-tile>
                    <mat-grid-tile>E</mat-grid-tile>
                    <mat-grid-tile>F</mat-grid-tile>
                </mat-grid-list>
            </div>
            <div class="carousel-item">
                <mat-grid-list cols="3" rowHeight="4:2">
                    <mat-grid-tile>G</mat-grid-tile>
                    <mat-grid-tile>H</mat-grid-tile>
                    <mat-grid-tile>I</mat-grid-tile>
                    <mat-grid-tile>J</mat-grid-tile>
                    <mat-grid-tile>K</mat-grid-tile>
                    <mat-grid-tile>L</mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </div>

    <div class="button-container">
        <button>
            LOAD MORE
        </button>
    </div>
</section>