<section class="all" id="expertise">
    <div class="container">
        <div class="title pt-5 m-auto">
            <h3>EXPERTISE</h3>
            <p>Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
        </div>
        <div class="separator"></div>
    </div>
    <div class="grid-container">
        <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile class="border-bottom border-right">
                <div>
                    <h5>WEB DESIGN & DEVELOPMENT</h5>
                    <p>
                        This is Photoshop's version of Lorem Ipsum.
                        Proin gravida nibh velit auctor aliquet Aenean.
                    </p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="border border-top-0">
                <div>
                    <h5>BRANDING INDENTITY</h5>
                    <p>
                        This is Photoshop's version of Lorem Ipsum.
                        Proin gravida nibh velit auctor aliquet Aenean.
                    </p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="border-bottom">
                <div>
                    <h5>MOBILE APP</h5>
                    <p>
                        This is Photoshop's version of Lorem Ipsum.
                        Proin gravida nibh velit auctor aliquet Aenean.
                    </p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="border-right">
                <div>
                    <h5>SEARCH ENGINE OPTIMIZATION</h5>
                    <p>
                        This is Photoshop's version of Lorem Ipsum.
                        Proin gravida nibh velit auctor aliquet Aenean.
                    </p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="border border-bottom-0 border-top-0">
                <div>
                    <h5>GAME DEVELOPMENT</h5>
                    <p>
                        This is Photoshop's version of Lorem Ipsum.
                        Proin gravida nibh velit auctor aliquet Aenean.
                    </p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <h5>MADE WITH LOVE</h5>
                    <p>
                        This is Photoshop's version of Lorem Ipsum.
                        Proin gravida nibh velit auctor aliquet Aenean.
                    </p>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</section>