<section class="all">
    <div class="container">
        <div class="title">
            <h1>Met Our Amazing Team</h1>
            <p>Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
        </div>
        <div class="separator"></div>
        
    </div>

    <div class="card-container">
        <mat-card>
            <img mat-card-image src="../../assets/img/white.jpg">
            <mat-card-content>
                <p class="name">SEMF UCUK</p>
                <p>CEO & FOUNDER</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../../assets/img/white.jpg">
            <mat-card-content>
                <p class="name">SEMF UCUK</p>
                <p>CEO & FOUNDER</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../../assets/img/white.jpg">
            <mat-card-content>
                <p class="name">SEMF UCUK</p>
                <p>CEO & FOUNDER</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../../assets/img/white.jpg">
            <mat-card-content>
                <p class="name">SEMF UCUK</p>
                <p>CEO & FOUNDER</p>
            </mat-card-content>
        </mat-card>
    </div>
</section>