<section class="all">
    <div class="container">
        <div class="title pt-5">
            <h3>Met Our Amazing Team</h3>
            <p>Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
        </div>
        <div class="separator"></div>
    </div>

    <div class="card-container">
        <mat-card>
            <img mat-card-image src="../../assets/img/white.jpg">
            <mat-card-content>
                <p class="name">SEMF UCUK</p>
                <p>CEO & FOUNDER</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../../assets/img/white.jpg">
            <mat-card-content>
                <p class="name">DIK ADALI</p>
                <p>ENGINEERING</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../../assets/img/white.jpg">
            <mat-card-content>
                <p class="name">JENG KOL</p>
                <p>DESEIGNER</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../../assets/img/white.jpg">
            <mat-card-content>
                <p class="name">PET ROMAK</p>
                <p>MARKETING</p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="container mt-5 p-3">
        <p>Become part of our dream team, let's join us !</p>
    </div>
</section>